<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="_fragments :: head(~{::title})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>标签页</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../static/css/me.css">
    </head>
    <body>

        <!-- 导航部分 -->
        <!-- 使用 semantic 组件, class 中导入
            inverted：翻转，控制颜色为黑或白
            attached：边框没有圆角，贴合边界
            m 开头的是自定义样式
         -->
        <nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
            <div class="ui container">
                <!-- 这里创建 container 是为了调整 blog 标识的位置
                    secondary 调整了位置和样式
                    stackable：移动端自适应，可堆叠
                        在有 gird 的地方使用
                 -->
                <div class="ui inverted secondary stackable menu">
                    <!-- teal 是颜色 -->
                    <h2 class="ui teal header item">Blog</h2>
                    <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                    <a href="#" class="active m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                    <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
                    <div class="right m-item item m-mobile-hide">
                        <!-- transparent 是透明的效果 -->
                        <div class="ui icon inverted transparent input">
                            <input type="text" placeholder="Search...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 导航栏折叠按钮 -->
            <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
                <i class="sidebar icon"></i>
            </a>
        </nav>

        <!-- 中间内容 -->
        <div class="m-container-small m-padded-tb-big">
            <!-- container 有自适应显示的效果 -->
            <div class="ui container">

                <!-- 头部，header -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">标签</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h2 class="ui orange header m-inline-block m-text-thin"
                                  th:text="${#arrays.length(tags)}">14</h2> 个
                        </div>
                    </div>
                </div>


                <!-- 标签列表主体 -->
                <div class="ui attached segment m-padded-tb-large">
                    <!-- th:each 优先级最高，优先解析 -->
                    <!--  target="_blank"：新建页面打开 -->
                    <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"
                       class="ui basic left pointing large label m-margin-tb-tiny"
                        th:each="tag : ${tags}" th:classappend="${tag.id==activeTagId} ? 'teal'">
                        <span th:text="${tag.name}">方法论</span>
                        <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                    </a>
                </div>

                <!-- 文章列表 -->
                <div class="ui top attached teal segment">
                    <div class="ui middle aligned padded vertical segment m-padded-tb-large m-padded-lr-small"
                         th:each="blog : ${page.content}">
                        <div class="ui mobile reversed stackable grid">
                            <!-- 文章内容 -->
                            <div class="eleven wide column">
                                <h3 class="ui header">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">
                                        你真的理解什么是财富自由吗？
                                    </a>
                                </h3>
                                <p class="m-text" th:text="|${blog.description}......|">
                                    正确做好任何一件事情的前提是清晰、正确的理解目标
                                    而事实是，我们很多人很多时候根本没有对目标正确的定义，
                                    甚至从来就没有想过，只是大家都那么做而已......
                                </p>

                                <!-- 底部内容 -->
                                <div class="ui grid">
                                    <div class="row">
                                        <div class="eleven wide column">
                                            <!-- horizontal：列表横向排列 -->
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/1002/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">李宗仁</a></div>
                                                </div>

                                                <div class="item">
                                                    <i class="calendar icon"></i>
                                                    <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020-7-21</span>
                                                </div>

                                                <div class="item">
                                                    <i class="eye icon"></i>
                                                    <span th:text="${blog.views}">2342</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <!-- basic 是按钮的样式 -->
                                            <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin"
                                               th:text="${blog.type.name}">
                                                认知升级
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="column">
                                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing label m-padded-mini m-text-thin"
                                                th:each="tag : ${blog.tags}" th:text="${tag.name}"
                                                th:classappend="${tag.id==activeTagId} ? 'teal'">
                                                方法论
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <!-- rounded 为圆角 -->
                                    <img src="https://picsum.photos/id/1002/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="ui bottom attached segment">
                    <!-- 上下翻页按钮 -->

                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 底部 footer -->
        <!-- vertical：垂直的，贴合边界，没有圆角 -->
        <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <!-- grid 将其分为 16 份
                    divided：用线分割
                 -->
                <div class="ui inverted divided stackable grid">

                    <div class="three wide column">
                        <div class="ui inverted link list">
                            <div class="item">
                                <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px" >
                            </div>
                        </div>
                    </div>

                    <div class="three wide column">
                        <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">用户故事 (User Story)</a>
                            <a href="#" class="item">关于刻意练习的清单</a>
                            <a href="#" class="item">失败要趁早</a>
                        </div>
                    </div>

                    <div class="three wide column">
                        <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Email: lirenmi@163.com</a>
                            <a href="#" class="item">QQ: 12345678</a>
                        </div>
                    </div>

                    <div class="seven wide column">
                        <h4 class="ui inverted header m-opacity-mini">简介</h4>
                        <p class="m-text-thin m-text-spaced m-opacity-mini">
                            这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，
                            希望可以给来到这人的人有所帮助...
                        </p>
                    </div>
                </div>

                <!-- 底部分割线，为 divider -->
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @2019-2020 Lirenmi Designed by Lirenmi</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

        <th:block th:insert="_fragments :: info">
        </th:block>

        <script>
            // 在手机端(小屏)时，点击折叠按钮会出现导航栏条目
            $('.menu.toggle').click(function () {
                $('.m-item').toggleClass('m-mobile-hide');
            });

        </script>
    </body>
</html>